# ignore build
/build

# ignore bin
/bin

# ignore debug folder
/cmake-build-debug

# ignore compiled programs
*.o

# ignore cmake files
CMakeCache.txt
CMakeFiles/

# ignore editor files
/.idea
*.swp
*.log

# ignore executables
*.out